[submodule "characters"]
	path = characters
	url = https://github.com/elizaos/characters
[submodule "packages/plugin-aptos"]
	path = packages/plugin-aptos
	url = https://github.com/Devermint/plugin-aptos.git
